/**
 * @name Green Glass Theme
 * @author Hacker41
 * @description Green Glass Discord Theme Used By Hacker41
*/
@import url('https://raw.githubusercontent.com/TheHacker41/Discord-Theme/refs/heads/main/basic.css');
:root {
  --background: url('https://i.imgur.com/oZF6p5T.jpeg');
  --backgroundsize: cover;
  --backgroundposition: center;
  --backgroundblur: 0px;
  --popout: var(--background);
  --popoutsize: var(--backgroundsize);
  --backgroundposition: center;
  --popoutblur: 0px;
  --transparencycolor: 0,0,0;
  --accentcolor: 7,101,10;
  --backdrop: rgba(0,0,0,0.85);
  --textshadow: transparent;
  --transparencyalpha: 0.18;
  --messagetransparency: 0;
  --guildchanneltransparency: 0;
  --chatinputtransparency: 0;
  --memberlisttransparency: 0.12;
  --font: "gg sans", "Noto Sans";
  --textbrightest: 255,255,255;
  --textbrighter: 222,222,222;
  --textbright: 200,200,200;
  --textdark: 160,160,160;
  --textdarker: 125,125,125;
  --textdarkest: 90,90,90;
  --settingsicons: 1;
  --backdropsize: var(--background-size);
  --backdropblur: 0px;
  --version1_0_5: none;
}