/**
 * @name Main Theme
 * @author Hacker41
 * @version 1.0.5
 * @description Main Discord Theme Used By Hacker41
*/
@import url('https://thehacker41.github.io/Discord-Theme/basic.css');
:root {
  --background: url('https://i.imgur.com/oZF6p5T.jpeg');
  --backgroundsize: cover;
  --backgroundposition: center;
  --backgroundblur: 0px;
  --popout: var(--background);
  --popoutsize: var(--backgroundsize);
  --backgroundposition: top left;
  --popoutblur: 0px;
  --transparencycolor: 0,0,0;
  --accentcolor: 7,101,10;
  --backdrop: rgba(0,0,0,0.85);
  --textshadow: transparent;
  --transparencyalpha: 0;
  --messagetransparency: 0.16;
  --guildchanneltransparency: 0.1;
  --chatinputtransparency: 0;
  --memberlisttransparency: 0.38;
  --font: "gg sans", "Noto Sans";
  --textbrightest: 255,255,255;
  --textbrighter: 222,222,222;
  --textbright: 200,200,200;
  --textdark: 160,160,160;
  --textdarker: 125,125,125;
  --textdarkest: 90,90,90;
  --settingsicons: 1;
  --backdropsize: var(--background-size);
  --backdropblur: 0px;
  --version1_0_5: none;
}

